.coloane {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color:rgba(0, 255,0, 0);
  grid-row-gap:25px;
  grid-column-gap:25px;
  padding: 5px;
  margin: 40px;
}

.ocol {
	padding: 50px;
	margin: 15px;
	background-color:white;
	opacity: .8;
	font-size: 13px;
	text-align: center;
	box-shadow:black 2px 2px  20px;
}
img{
	height:150px;
	width:275px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	box-shadow:black 2px 2px  30px;
}

/*fundal*/
body{
	background-image: url("../Poze/cec.JPG") ;
	background-size: cover;
	background-repeat: no-repeat;


}