body{
	background-image: url("../Poze/f.jpg") ;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color:white;
	text-shadow: 3px 1px 3px black;
	
}
.poza1{
		width:50%;
		float:left;
		
	}
.poza2{
	width:50%;
	float:left;
}
figure.poza1>img{
	border-radius:10px;
	margin-left:200px;
	width:330px;
	height:250px;}
figure.poza2>img{
	border-radius:10px;
	margin-left:110px;
	width:330px;
	height:250px;
}
.scris1{margin-left:270px;}
.scris2{margin-left:200px;}