
body{
	background-image: url("../Poze/ist1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:white;

}
main{
	margin:30px;
}
img{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow:black 1px 1px  20px;
 }
figcaption{
	 text-align:center;
	 
}
