/*aliniere*/
main>section>h2{
	padding:0px;
	margin-left:15px;
	font-size: 25px;
}
.a{
	text-align: center;
	font-size: 30px;
}
/*stilizare*/

body{
	background-image: url("../Poze/isto3.jfif") ;
	background-size: cover;
	background-repeat: no-repeat;
	color:white;

}
 img{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow:black 1px 1px  20px;
 }
figcaption{
	 text-align:center;
	 
}

/*footer*/

address{
	color: white;
	text-align: center;
	text-shadow: 1px 1px black;
}