@media only screen and (max-width: 650px)
{
	

	
html{
	font-size:10px;
}

h1{ font-size:2.5rem;
}
h2{
	font-size:2.2rem;
	text-align:center;
}
h3{
	font-size:2rem;
}
p{	font-size:1.7rem;}

.istoric, .ceecerce, .festivalul, .index, .ordincad, .zambet, .grupe, .martisor, .galerie{
	font-size: 2.5rem;
}
/*grid*/
	.coloane {
		grid-template-columns: auto;
}
	.ocol {
	padding: 9px;
	margin: 0px;
	
	font-size: 2rem;
	}
	.imaga{
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	height:130px;
	width:170px;

	}
/*poze*/
	
	.poza1{
		width:100%;
		float:none;
		text-align:center;
	}
	.poza2{
		width:100%;
		float:none;
		text-align:center;
	}
	.scris1, .scris2{margin-left:15px;
					font-size:0.8rem;}

	.poza3, .poza4{text-align: center;}
	
	figure.poza1>img{
		margin-left:3px;
		
		}
	figure.poza2>img{
	margin-left:2px;
	}

/*audio*/
audio { 
  width: 100px; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
	padding:1rem;
	margin-left:18vh;
}}