@media screen and (min-width:650px) and (max-width:120px)
{html{
	font-size:14px;
}
	/*aliniere*/

	p{
		margin-left:10px;
		margin-right:10px;
	}
	
/*grid*/
	.ocol {
	padding: 1px;
	margin: 0px;
	}
	img{
	height:150px;
	width:250px;

	}
	figure.poza1>img{

	margin-left:100px;}
	figure.poza2>img{
	margin-left:25px;
}
.scris1{margin-left:170px;}
.scris2{margin-left:70px;}

}