@media only screen and (max-width: 400px)
{
html{
	font-size:10px;
}


/*---aliniere----*/


h1{ font-size:2.5rem;}

h2{	font-size:2.2rem;
	text-align:center;}
	
h3{	font-size:2rem;}

p{	font-size:1.7rem;}

.istoric, .ceecerce, .festivalul, .index, .ordincad, .zambet, .grupe, .martisor, .galerie{
	font-size: 2.5rem;
}
				
				
				/*----grid----*/
				
				
	.coloane {
		grid-template-columns: auto;
}
	.ocol {
	padding: 9px;
	margin: 0px;
	font-size:1.5rem;
	}
	
	.imaga{
	margin:0 auto;
	height:14rem;
	width:22rem;
	}
				
				
					/*---poze----*/
	
	.poza1{
		width:100%;
		float:none;
		text-align:center;
	}
	.poza2{
		width:100%;
		float:none;
		text-align:center;
	}
	.scris1, .scris2{margin-left:15px;
					font-size:0.8rem;}

	.poza3, .poza4{text-align: center;}
	
	figure.poza1>img{
		margin-left:3px;
		
		}
	figure.poza2>img{
	margin-left:2px;
	}

/*audio*/
audio { 
		width:30%; 
	
}


/*---TABEL---*/

table,table tr{
			border:none;
			display:block;
		}
table td{
		
		display:block;
		padding:0.3rem;
		box-sizing:border-box;
		}
table thead{
			display:none;
		}

table tbody td:nth-child(1)::before{
			content:"Grupa de varsta: ";
		}
table tbody td:nth-child(2)::before{
			content:"Nr. fete: ";
		}
table tbody td:nth-child(3)::before{
			content:"Nr.baieti: ";
		}
table tbody td:nth-child(4)::before{
			content:"Nr. patrule: ";
		}
		
table td{
			border-bottom:none;
			border-top:none;
			float:left;
			width:100%;

		}
table td::before{
			float:left;
			width:60%;
			font-weight:bold;

		}
	
table td:last-child{
			border-bottom:0.2rem solid #0039e6;
		}
table tr:first-child  td:first-child{
			border-top:0.2rem solid #0039e6;
		}
table tr:last-child td:last-child{
			border-bottom:0.2rem solid #0039e6;
		}
		
}