@media screen and (min-width:400px) and (max-width:900px)
{
/*---poze---*/

	figure.poza1>img{
	margin-left:7rem;
	width:13rem;
	height:13rem;}
figure.poza2>img{

	margin-left:3rem;
	width:13rem;
	height:13rem;
}
.scris1{margin-left:11rem;}
.scris2{margin-left:7rem;}
.imaga:hover{
transform: scale(1.1);}


		/*---audio---*/
audio { 
	width:30%;
 }
}
