	/*aliniere h1*/
	/*aliniere numele centruui*/
h1{
	text-align: center;
	font-family: Apple Chancery, cursive;
}
h2{
	font-size:30px;
	text-align:center;
}
h3{
	font-size:25px;
	text-align:center;
}
p{	font-size: 17px;
	text-align: center; 
	margin-left: 25px; 
	margin-right: 25px;}
/*footer*/

address{
	color: white;
	text-align: center;
	text-shadow: 1px 1px 3px black;
}
/*aliniere titlulri*/
.istoric, .ceecerce, .festivalul, .index, .ordincad, .zambet, .grupe, .martisor{
	text-align: center;
	font-size: 40px;
}


	
	/*meniu*/
	nav{
		margin: 0;
		padding: 0;
		width:100%;
		position:absolute;
		top: 80px;
	}
	*{ /* resetarea spatierilor */
		margin:0px;
		padding:0px;
		text-indent:0px;
	}

	ul.meniu, ul.submenu{ 
	padding: 0px;
	}

	ul.menu>li, ul.menu>li>ul.submenu>li{
		display:block;
		font-size:1rem;
		font-weight:bold;
		height:1.8rem;
		line-height:150%;
		text-align:center;		
		list-style-type:none;
		overflow:hidden;
		
	}
	ul.menu>li{
	 float:left;
	 width:20%;
	 background:black;
	  opacity: .8;
	}
	ul.submenu>li{
	 width:100%;
	 background: black;
	 opacity: .8;

	}
	ul.menu>li>a, ul.submenu>li>a{
		display:block;
		height:	100%;
		text-decoration:none;
		color:white;
	}
	ul.menu>li>ul.submenu{
		position:relative;
		top:0px;
	}
	ul.menu>li>a:hover, ul.submenu>li>a:hover{
		background:green;
	}
	ul.menu>li:hover{
		overflow:visible;
	}
	
	
	/*top*/
	
	body{
		
		margin: 0;
		padding: 0;
	}
	.top{
		position: fixed;
		width:50px;
		height: 50px;
		background: black;
		bottom: 40px;
		right: 50px;
		
		text-decoration:none;
		text-align:center;
		line-height:50px;
		color: white;
		font-size: 22px;
		opacity: .6;
		
	}
	
	