/*aliniere*/
main>section>h2{
	text-align: center;
	font-size: 30px;
}
/*stilizare*/

body{
	background-image: url("../Poze/p-f-i.JPG") ;
	background-size: cover;
	background-repeat: no-repeat;


}
 img{
	 display: block;
  margin-left: auto;
  margin-right: auto;
 }

/*footer*/

address{
	color: white;
	text-align: center;
	text-shadow: 1px 1px black;
}