	
/*aliniere*/
html {
  font-size:18px;
}
h1{ font-size:2rem;
	text-align: center;
	font-family: Apple Chancery, cursive;
}
h2{
	font-size:1.4rem;
	text-align:center;
}
h3{
	font-size:1.3rem;
	text-align:center;
}
p{	font-size:0.7rem;
	text-align: center; 
	margin-left: 25px; 
	margin-right: 25px;}
/*footer*/

address{
	font-size:0.7rem;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 3px black;
}
/*aliniere titlulri*/
.istoric, .ceecerce, .festivalul, .index, .ordincad, .zambet, .grupe, .martisor{
	text-align: center;
	font-size: 1.5rem;
}
/*fundal*/

body{
	background-image: url("../Poze/ist1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:white;

}
/*grid*/
.coloane {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color:rgba(0, 255,0, 0);
  grid-row-gap:25px;
  grid-column-gap:25px;
  padding: 5px;
  margin: 30px;
}

.ocol {
	padding: 50px;
	margin: 15px;
	background-color:black;
	opacity: .8;
	font-size: 13px;
	text-align: center;
	box-shadow:black 2px 2px  20px;
}
img{
	height:150px;
	width:275px;
	box-shadow:black 2px 2px  30px;
}
img:hover{
		 transform: scale(1.8);
}
/*poze*/
.poza1{
	width:50%;
	float:left;
		
	}
.poza2{
	width:50%;
	float:left;
}
figure.poza1>img{
	border-radius:10px;
	margin-left:250px;
	width:13rem;
	height:13rem;}
figure.poza2>img{
	border-radius:10px;
	margin-left:125px;
	width:13rem;
	height:13rem;
}
.scris1{margin-left:300px;}
.scris2{margin-left:200px;}

.poza3, .poza4{text-align: center;}
figure.poza3>img{
	border-radius:10px;
	width:13rem;
	height:13rem;
}
figure.poza4>img{
	border-radius:10px;
	width:25rem;
	height:12.5rem;
}
figure.poza1>img:hover{
	 transform: scale(1.5);
}
figure.poza2>img:hover{
	 transform: scale(1.2);
}figure.poza3>img:hover{
	 transform: scale(1.2);
}figure.poza4>img:hover{
	 transform: scale(1.2);
}