	
						/*--aliniere--*/
						
						
html{
  font-size:18px;
	}

body{
	background-image: url("../Poze/ist1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:white;
	}

h1{
	font-size:1.8rem;
	text-align: center;
	font-family: Apple Chancery, cursive;
	background:linear-gradient(#ffffff, #0066ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
h2{
	font-size:1.8rem;
	text-align:center;
  }
h3{
	font-size:1.5rem;
	text-align:center;
}
p{	font-size:0.8rem;
	text-align: center; 
	margin-left: 6rem; 
	margin-right:6rem;
	}
footer{
	font-size:1rem;
	color: white;
	text-align: center;
	text-shadow:0.01rem 0.15rem 0.2rem black;
}
.bodym{
	counter-reset: section;
}
.ist::before {
			counter-increment: section;
			content:counter(section) ". ";
		}

/*aliniere titlulri*/
.istoric, .ceecerce, .festivalul, .index, .ordincad, .zambet, .grupe, .martisor, .galerie{
	text-align: center;
	font-size: 1.9rem;
}
.varsta{ /*grupe de varste*/

  display:list-item; 
  text-align:center;
}
.ist{ /*istoric*/
	display:table-row;
}



								/*---grid----*/
								
								
								
.coloane {
		display: grid;
		grid-template-columns: 50% 50%;
		background-color:rgba(0, 255,0, 0);
		grid-row-gap:3rem;
		grid-column-gap:3rem;
		padding: 0.5rem;
		margin: 5rem;
}

.ocol {
	padding: 2rem;
	margin: 0.3rem;
	background-color:black;
	opacity: .8;
	font-size: 1rem;
	text-align: center;
	box-shadow:0.2rem 0.2rem 2rem white ;
}
.ocol:hover{
	box-shadow:0.2rem 0.2rem 2rem blue;
	color:#80bfff;
	font-family:Courier New, monospace;
}
.imaga{
	margin:auto;
	height:13rem;
	width:18rem;
	box-shadow:0.2rem 0.2rem 2rem white ;
}
.imaga:hover{
		transform: scale(1.4);
		box-shadow:0.2rem 0.2rem 2rem blue;
		
}


								/*---poze----*/
								



.bp{
	transform: scaleX(-1);
}								
.poza1{
	width:50%;
	float:left;
	}
.poza2{
	width:50%;
	float:left;
	}
figure.poza1>img{
	margin-left:16rem;
	border-radius:2rem;
	width:15rem;
	height:15rem;}
figure.poza2>img{
	margin-left:5rem;
	width:15rem;
	height:15rem;
	border-radius:2rem;
}
figure.poza3>img{
	margin: 0 auto;
	border-radius:2rem;
	width:15rem;
	height:15rem;
}
figure.poza4>img{
	border-radius:10px;
	width:21rem;
	height:12.5rem;
}
.scris1{margin-left:18rem;}
.scris2{margin-left:8rem;}
.poza3, .poza4{text-align: center;}

figure.poza1>img:hover{
	 transform: scale(1.1);
}
figure.poza2>img:hover{
	 transform: scale(1.1);
}
figure.poza3>img:hover{
	 transform: scale(1.1);
}
figure.poza4>img:hover{
	 transform: scale(1.1);
}


								/*----LINK---*/
								
								
a:active {
  background-color:#33cccc;
}
a:link, a:visited{
	color:white;
}



								/*----galerie-----*/
								
								
.textgalerie{/*citatul*/
	margin-left:auto;
	margin-right:auto;
	font-size:1rem;
	font-family: Bradley Hand, cursive;
}

#containeranimatie{
	border-radius:2rem;
	position:relative;
	overflow:hidden;
	border:2px solid black;
	width:25rem;
	height:18.75rem;
	margin-left:auto;
	margin-right:auto;
	box-sizing:content-box;
	box-shadow:0.2rem 0.2rem 2rem white ;
}
#containeranimatie:hover{
	box-shadow:0.2rem 0.2rem 2rem blue;

}


#derulant{
	display:flex;
	flex-wrap:nowrap;
	position: absolute;
	animation-name:derulare;
	animation-direction:alternate;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-duration:28s;
	
}

		
#derulant>*{
	flex-shrink: 0;
	position:relative;
	width:100%;
	height:100%;
}
#containeranimatie figcaption{
  position:absolute;
  bottom:0;
  width:100%;
  height:auto;
  font-size:1.5em;
  background:rgba(200,200,200,0.5);
  text-align:center;
}

#containeranimatie *{
  height:100%;
  width:auto;
}
@keyframes derulare{
	0%{
    	left:0px;
    }
	100%{
		left:-1475%;
	}
}


					/*---audio----*/
					
					
audio { 
		width: 20%; 
		box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
		border-radius: 4rem;
		padding:1rem;
		display:block;
		margin: 0 auto;
}


				/*----TABEL---*/
				
				
caption{
	text-align:center;
}
table {
	width:60%;
	margin-left:auto;
	margin-right:auto;	
	border-collapse: collapse;
}
table, th, td {
 border: 0.2rem solid #0039e6;

}
th,td{
	height:2rem;
	text-align:center;
}