.poza1{
		width:50%;
		float:left;
		
	}
.poza2{
	width:50%;
	float:left;
}
.poza3{text-align: center;}
figure.poza3>img{
	border-radius:10px;
	width:350px;
	height:200px;
}
figure.poza1>img{
	border-radius:5px;
	margin-left:270px;
	width:250px;
	height:200px;
	}
figure.poza2>img{
	border-radius:5px;
	margin-left:100px;
	width:300px;
	height:200px;
}
.scris1{margin-left:320px;}
.scris2{margin-left:150px;}

body{
	background-image: url("../Poze/ult.jpg") ;
	background-size: 100% 100%;
	background-repeat: no-repeat;

	
}